{
  "presets":[
    ["env",{
      "loose":false,
      "modules": false,
      "exclude": [
        "babel-plugin-transform-async-to-generator",
        "babel-plugin-transform-es2015-block-scoped-functions",
        "babel-plugin-transform-es2015-duplicate-keys",
        "babel-plugin-transform-es2015-for-of",
        "babel-plugin-transform-es2015-literals",
        "babel-plugin-transform-es2015-spread",
        "babel-plugin-transform-es2015-modules-amd",
        "babel-plugin-transform-es2015-modules-systemjs",
        "babel-plugin-transform-es2015-modules-umd",
        "babel-plugin-transform-es2015-parameters",
        "babel-plugin-transform-es2015-sticky-regex",
        "babel-plugin-transform-es2015-typeof-symbol",
        "babel-plugin-transform-es2015-unicode-regex",
        "babel-plugin-transform-exponentiation-operator",
        "babel-plugin-transform-regenerator",
        "babel-plugin-transform-es2015-object-super"
      ]
    }]
  ]
}
